<div class="container">
  <h1 style="text-decoration: underline;" class="text-center mt-5">COCKTAIL RECIPES</h1>

  <div style="margin-top: 100PX;" *ngFor="let items of cockTails">
    <div  class="border">
      <div class="text-center border">

        <!-- heading -->

        <h2 class="text-primary">{{items.strDrink}} </h2>
      </div>
    <div style="display: flex; justify-content: space-evenly;">
         <!-- image -->
  
        <img width="300px" [src]="items.strDrinkThumb" alt="">
  
        <!-- ingrediants -->
        <div class="text-center border p-3" style="width: 30%;">
          <h3 class="border text-success">Ingrediants</h3>
          <ul style="list-style: none; margin-top: 50px;">
            <li>{{items.strIngredient1}} ({{items.strMeasure1}} )</li>
            <li>{{items.strIngredient2}} ({{items.strMeasure2}} )</li>
            <li>{{items.strIngredient3}} ({{items.strMeasure3}} )</li>
            <li *ngIf="items.strIngredient4">{{items.strIngredient4}} ({{items.strMeasure4}} )</li>
          </ul>
        </div>
  
        <!-- making -->
        <div class="text-center border p-3" style="width: 50%;">
        <h3 class="border text-success">Making</h3>
        <p class="text-center" style="text-align: justify; margin-top: 50px;">{{items.strInstructions}} </p>
        </div>
        
    </div>
    </div>
  </div>
</div>